html {
    background-color: #4D4D4D;
}

.go-back-header {
    display: flex;
    flex-grow: 1;
    min-width: 100%;
    min-height: 57px;
    max-height: 67px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    background-color: white;
    align-items: center;
    justify-content: space-between;
}

.payment-page-box {
    background-color: white;
}

.go-back-button {
    color: black;
    text-transform: capitalize;
}

.go-back-button:hover {
    background-color: #0000000d;
}

.payment-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    min-width: 375px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-bottom: 20px;
}

.payment-input {
    margin-bottom: 15px;
    width: 100%;
}

.payment-input .MuiInput-root {
    width: 100%;
}


.payment-button {
    background-color: #F16813;
    border-radius: 0;
    box-shadow: none;
}

.payment-button:hover {
    background-color: #F16813;
}