@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');


/*all of the page*/

.home-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

/*after header*/
.home-body {
  flex-grow: 1;
  background-color: #4D4D4D;
}

.home-top-content{
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 375px) {
      .home-top-content  {
          padding-top: 12px;
        }        
}

@media (max-width: 1053px) {
  .home-top-content  {
      padding-top: 12px;
    }        
}

.home-call-to-action {
    min-width: 300px;
    max-width: 40%;
}

.home-call-to-action-buttons-container {
    display: flex;
    gap: 4px;
    justify-content: flex-start;
}


/*button #1*/
.organizar-evento {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #F16813;
    color: #ffffff;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 30px;
    border: solid;
    border-width: 1px;
    border-color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .organizar-evento .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .organizar-evento .text {
    position: relative;
    z-index: 1;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .organizar-evento:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #000000;
    border-color: #F16813;
  }

  .organizar-evento:active {
    scale: 0.95;
    box-shadow: 0 0 0 1px #4d4d4d54;
  }
  
  .organizar-evento:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  


/*button #2*/
.explorar-locais {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #ffffff;
    color: #4D4D4D;
    padding: 12px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 30px;
    border: solid;
    border-width: 1px;
    border-color: #4D4D4D;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .explorar-locais svg {
    position: absolute;
    width: 24px;
    fill: #4D4D4D;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .explorar-locais .arr-12 {
    right: 16px;
  }
  
  .explorar-locais .arr-22 {
    left: -25%;
  }
  
  .explorar-locais .circle2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #F16813;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .explorar-locais .text2 {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .explorar-locais:hover {
    box-shadow: 0 0 0 12px transparent;
    border-color: white;
    color: white;
  }
  
  .explorar-locais:hover .arr-12 {
    right: -25%;
  }
  
  .explorar-locais:hover .arr-22 {
    left: 16px;
  }
  
  .explorar-locais:hover .text2 {
    transform: translateX(12px);
  }
  
  .explorar-locais:hover svg {
    fill: white;
  }
  
  .explorar-locais:active {
    scale: 0.95;
    box-shadow: 0 0 0 1px #F16813;
  }
  
  .explorar-locais:hover .circle2 {
    width: 220px;
    height: 220px;
    opacity: 1;
  }

  .woven-image {
    border-radius: 16px;
  }

  .woven-image:hover {
    border-radius: 0px;
    scale: 1.2;
    -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.24); 
    box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.24);
    transition: all 0.8s
  }

.home-top-image-box {
  margin: 6px;
}

.home-middle-content {
  display: flex;
  flex-wrap: wrap;  
  justify-content: center;
  gap: 6px;
  margin: 22px;
}

.home-middle-content p {
  color: white;
  max-width: 200PX;
}

#fast-clock-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

#eficiency-icon-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

#security-icon-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
}

.home-botton-content  {
  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:20px;
  justify-content: flex-start;
  padding: 32px;
}


/* blockquote card colors */
blockquote.q-card-color-1{
  --accent-color: rgb(255, 255, 255);
  --bg-color: #F16813;
  --dot-color: rgb(255 255 255 / .35);
  --text-color: rgb(243 243 243);
  --text-color-author: #F16813;
}

blockquote.q-card-color-2{
  --accent-color: rgb(243 243 243);
  --bg-color: rgb(33 29 30);
  --dot-color: rgb(255 255 255 / .125);
  --text-color: rgb(243 243 243);
  --text-color-author: rgb(33 29 30);
}

blockquote.q-card-color-3{
  --accent-color: rgb(255, 255, 255);
  --bg-color: #F16813;
  --dot-color: rgb(255 255 255 / .35);
  --text-color: rgb(243 243 243);
  --text-color-author: #F16813;
}

/* blockquote card setup*/
blockquote.q-card{
  --padding: 1rem;
  padding: var(--padding);
  color: var(--text-color, black);
  font-weight: 600;
  background-color: var(--bg-color, white);
  display: grid;
  gap: 1rem;
  background-image: radial-gradient( circle, var(--dot-color, rgb(0 0 0 / .125)) calc(25% - 1px), transparent 25% );
  background-size: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.316)
  
}
blockquote.q-card::before{
  --qHeight: 4rem;
  content: "";
  margin-left: calc(var(--padding) * -1);
  margin-top: calc(var(--padding) * -1);
  height: var(--qHeight);
  width: calc(var(--qHeight) * 1.1);
  background-image:
    radial-gradient(
      circle at bottom right,
      transparent calc(var(--qHeight) / 4 - 1px),
      var(--accent-color, black) calc(var(--qHeight) / 4) calc(var(--qHeight) / 2), 
      transparent calc(var(--qHeight) / 2 + 1px)
    ),
    linear-gradient(var(--accent-color, black), var(--accent-color, black));
  background-size: calc(var(--qHeight) / 2) calc(var(--qHeight) / 2);
  background-position: top left, bottom left;
  background-repeat: space no-repeat
}

blockquote.q-card > .author{
  color: var(--text-color-author, white);
  background-color: var(--accent-color, black);
  justify-self: end;
  font-size: 0.75em;  
  padding: 0.5em 1em;
  border-radius: 0.25rem;
}
blockquote.q-card > .author::before{
  content: "- "
}
